@media (min-width:550px) {
    .openbtn {
        display: none;
    }
}

@media (min-width:1020px) {
    .card-only {
        width: 23%;
        text-align: left;
        height: 200px;
    }
}

@media (max-width:920px) {
    .container-head-one {
        margin-top: 44px;
    }
    .header-right {
        display: block;
        margin-top: 0px;
    }
    .header-button-blue {
        margin-left: 10px;
        margin-top: 0px;
        width: 100%;
        height: 100%;
    }
    .button-header .this-header {
        font-size: 18px;
    }
    .home-section-one .left {
        width: 100%;
        margin-top: 0px;
        font-style: normal;
        margin-left: 15px;
    }
    .home-section-one .right {
        width: 100%;
    }
    .home-section-one {
        display: inline-block;
    }
    .home-section .left {
        margin-left: 0px;
        width: 100%;
        text-align: center !important;
    }
    .home-section .right {
        width: 100%;
        margin-top: 45px;
    }
    .home-section {
        margin-top: 25px;
        display: inline-block;
    }
    .ukuran {
        max-width: 100%;
    }
    .margin-button {
        margin-top: 10px;
    }
    .why-us {
        margin-top: 40px;
        margin-left: 15px;
        margin-right: auto;
        justify-content: center;
        text-align: center;
        margin-right: 15px;
    }
    .card-only {
        width: 48%;
        text-align: left;
        margin-right: 10px;
    }
    .border-why-us {
        padding: 16px;
        width: 100%;
        height: 95%;
        margin-bottom: 20px;
    }
    .container-banner-cta {
        width: 97%;
        height: 80%;
        margin-left: 5px;
        right: auto;
        margin-bottom: 20px;
    }
    .container-banner-cta .this-header {
        line-height: 150%;
        font-size: 24px;
    }
    .accordion-spacing {
        top: 20px;
        margin-left: 0px;
    }
    .item-items {
        margin-left: 0px;
    }
    .carrousel {
        width: 95%;
        text-align: center!important;
        justify-content: center;
        display: grid;
    }
    .fa-star {
        margin-left: 10px
    }
    .content {
        margin-left: 10px;
        margin-top: -10%;
    }
    .carrousel .paragraph {
        text-align: left;
        padding-left: 15%;
    }
    .images-testinomial {
        width: 50% !important;
        height: 60% !important;
        margin-top: 10%;
    }
    .footer-main {
        margin-left: 7px;
    }
    .footer-list {
        width: 100%;
    }
}

@media (max-width:550px) {
    .images-testinomial {
        width: 40% !important;
        height: 50% !important;
        margin-top: 10%;
        margin-left: 25%;
    }
    .header-right {
        display: none;
        margin-top: 0px;
    }
    .button-header .this-header {
        font-size: 14px;
    }
    .home-section-one .left {
        margin-left: 5px;
    }
    .home-section-one .right {
        width: 100%;
    }
    .header-button-blue {
        margin-left: 0px;
    }
    .home-section .left {
        margin-left: 5px;
        width: 95%;
    }
    .fa-star {
        margin-left: 0px
    }
    .card-only {
        width: 100%;
    }
    .why-us {
        margin-left: 5px;
    }
}